.imgRad {
  border-radius: 50%;
}
.pad {
  padding-left: 0.915%;
  padding-right: 0.915%;
  width: 14.28%;
}

.maxWidth {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 130px;
}
